{% load static%}
<html>
<head>
	
	<title>Checkmate'18</title>

	<link href="{% static '/assets/css/common.css' %}" rel="stylesheet">
	<link href="{% static '/assets/css/main.css' %}" rel="stylesheet">
	<link href="{% static '/assets/css/puzzle.css' %}" rel="stylesheet">
	<!-- Jquery -->
	<script src="{% static '/assets/js/jquery.min.js' %}"></script>




	<!-- Font -->
	<!-- <link href="https://fonts.googleapis.com/css?family=Inconsolata:700" rel="stylesheet"> -->
</head>
<body>
	<!-- Wrapper -->
	<div class="wrapper">

		<!-- Title -->
		<div class="title">
			<h1>CHECKMATE 18<span class="letter6">_</span></h1>
			<nav>
				<li class="sink">$Score: <span class="score">{{score}}</span></li>
				<li class="instr button" onclick="openInst()">$Instructions</li>
				<li class="button" onclick="openPuzzle()">$Puzzle</li>
				<li class="button" onclick="logout()">$Logout</li>
			</nav>
		</div>

		<!-- Vision -->
		<div class="vision">

			<!-- Stage -->
			<div class="stage"></div>

			<!-- Overlay -->
			<div class="overlay">

				<!-- Positionals -->
				<div class="positionals">
					<p>X <span class="positionx"></span></p>
					<p>Y <span class="positiony"></span></p>
					<p>

						<progress value="0" max="7200" id="progressBar"></progress>
						<span id="countdowntimer" style="font-size: 22px;display: block;">01:00:00</span>





					</p>
				</div>

				<!-- Model -->
				<div class="model">
					<p>Model T-800</p>
					<p>Sys Ver 122.9</p>
					<p>Skynet Cyberdyne Systems</p>
				</div>

				<!-- Left -->
				<div class="left">

					<!-- <p>SYSTEM BOOT</p>
					<p>ANALYSIS****</p>
					<p id="randomnumber1"></p>
					<p id="randomnumber2"></p>
					<p id="randomnumber3"></p> -->

					<!-- <br><br><br><br> -->

					<p>THREAT ASSESSMENT</p>
					<p>******************</p>
					<p>TOLERANCE LVL4</p>
					<p>ENGAGE<span class="letter6">_</span></p>

				</div>
				<!-- center popup -->
				<div class="tadaa __hidden__">
					<nav class="tad_nav">
						<!-- <li>&#x003C;&#x003E;</li> -->
						<li class="plus">+</li>
						<li class="cross">x</li>
					</nav>
					
					<p class="main_text"><span class="the_text"></span><b class="blinking_cursor">_</b></p>
					<p id="fancy_dollar">$</p><input type="text" id="answer" autofocus="true" placeholder="Your answer">
					<button id="submit_answer">Submit</button>
				</div>
				<!-- Center -->
				<div class="center">
					<p>
						
					</p>
				</div>

				<!-- Right -->
				<div class="right">

					<p>SCAN MODE <span id="randomscan">438894</span></p>
					<!-- <p>PEICES GAINED : <span class="puzzleGained">(index + 1)</span></p> -->
					<p>MINES LEFT : <span class="mines_left">{{mines}}</span></p>
					<p>USER NAME: {{user}}<span class="letter6"></span></p>
					
					<br><br><br><br>

					<!-- <p>VISUAL SCAN</p>
					<p>************</p>
					<p class="dimension1">HGHT 0393</p>
					<p class="dimension2">WGHT 9882</p>
					<p class="dimension3">NECK 3422</p>
					<p class="dimension4">BACK 1112</p>
					<p class="dimension5">FIT PROBABILITY 93%</p> -->

				</div>
				
			</div>
			<!-- bottom popup -->
			<div class="snackbar __hidden__">
				
			</div>

			<!--puzzzle popup-->
			<section id="puzzle" class="__hidden__">
				<section  id="board" >
					<div class="trials">
						<p>Trials left: <span class="dots"></span></p>

					</div>
					<div class="helpPuzzle">?</div>
					<nav>

						<button id="submit_puzzle" class="button" data-url="check/">SUBMIT</button>
						<button id="save_puzzle" class="button" data-url="save/">CLOSE</button>
					</nav>
				</section>
			</section>
			<section id="game-over" class="__hidden__">
				<p>GAME OVER</p>
				<button class="lo" onclick="logout()">LOG OUT</button>
			</section>
		</div>

	</div>
	<script src="{% static '/assets/js/templates.js' %}"></script>
	<script src="{% static '/assets/js/main.js' %}"></script>
	<script src="{% static '/assets/js/puzzle.js' %}"></script>
	<script>
		var str = "{{ field }}";
		// var str='0bbbbb6789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789';
		window.str = str;
		


		var timeleft1 = (parseInt("{{ time }}") != NaN )?parseInt("{{ time }}"):0;
		var timeleft2 = timeleft1-1;
		var downloadTimer = setInterval(function(){
			document.getElementById("progressBar").value = 7200 - --timeleft1;
			timeleft2--;
			var seconds = (timeleft2%60);
			var minutes = Math.floor((timeleft2/60)%60);
			var hours = Math.floor((timeleft2/3600))
			var timeText = pad(hours) + " : "  + pad(minutes) + " : " + pad(seconds);
			// console.log(timeleft2)
			document.getElementById("countdowntimer").textContent = timeText;
			if(timeleft1 <= 0){
				clearInterval(downloadTimer);
				gameOver();
			}
		},1000);

		function pad(text){
			return ("00" + text).slice(-2);
		}

		function openInst(){
			window.location.href = "/main/welcome"
		}

	</script>

</body>
</html>
