{% load static%}
<!DOCTYPE html>

<html>
<head>
	<meta charset="UTF-8">
	<title>Checkmate'18 Register</title>
    <link href="{% static '/assets/css/loggin.css' %}" rel="stylesheet">
    <link href="{% static '/assets/css/normalize.min.css' %}" rel="stylesheet">
    <link href="{% static '/assets/css/common.css' %}" rel="stylesheet">
	<link href="{% static '/assets/css/main.css' %}" rel="stylesheet">
    <script src="{% static '/assets/js/jquery.min.js' %}"></script>
    <script src="{% static '/assets/js/prefixfree.min.js' %}"></script>
	<script src="{% static '/assets/js/index.js' %}"></script>
</head>
<body>
	<div id="wrapper">

		<video src="{% static '/assets/cut_video1.mp4' %}" type="video/mp4" width="100%" muted="true" height="100%" autoplay  id="vid1" paused>
		</video>
		<div id="dummy">


		<div id="form">
		<div class="title">
      
      <nav>
        
        <li class="instr button" onclick="openLogin()">$Login</li>
        <li class="instr button" onclick="openInst()">$Instructions</li>
        
        
        
        
      </nav>
    </div>


			<div id="logo"> 
				<!-- <h3 class="tag" style="color: #5ec8c6;font-size: 20px;text-shadow:7px 7px 3px #000000;">ACMW and ACM presents</h3> -->
				<h1><i> CHECKMATE 2018</i></h1>
			</div> 
			<section class="stark-login">

				
				<form autofill="off" autocomplete="false" action="/main/register/" method="POST" id="form1">
					{% csrf_token %}
					<div id="fade-box">
						
						<input name="name" placeholder="Username" type="text" autofocus="false" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');">
						
						<input name="password" placeholder="Password" type="password" autofocus="false" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');">
                        <input name="phone" placeholder="Phone" type="text" autofocus="false" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');">
                        <input name="email" placeholder="Email" type="text" autofocus="false" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');">

						<button>Register</button> 
					</div>
				</form>
				<div class="msg"></div>
				
			</section> 

			<div id="circle1">
				<div id="inner-cirlce1">
					<h2> </h2>
				</div>
			</div>



			<ul>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</div>
	</div>
</div>
	

<script>
console.log("{{ state }}")
var msg = "{{ state }}";
if(msg != "")showMsg();
else $('.msg').hide(); 
function showMsg(){
	$('.msg').text(msg);
	$('.msg').show();
}
// document.getElementById('vid1').addEventListener('loadedmetadata', function() {
//   this.currentTime = 9;
//   console.log(document.getElementById('vid1'))
//   console.log(this.attributes, this.currentTime, Array(this))
// }, false);
</script>	
<script>
function openInst(){
			window.location.href = "/main/welcome"
		}
function openLogin(){
			window.location.href = "/main/login"
		}
		</script>


</body>
</html>
